/* General Styles for the App */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.add-card-button, .toggle-connection-button {
  background-color: #3e90e7;
  color: white;
  font-weight: bold; 
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
add-card-button:active {
  background-color: #00408a; /* Even darker shade when clicked */
  transform: scale(0.98); /* Slightly shrink button on click */
}

.add-card-button:focus {
  outline: 2px solid #0056b3; /* Outline for accessibility */
  outline-offset: 2px;
}


.canvas {
  position: relative;
  width: 100%;
  height: 80vh;
  border: 1px solid #b1b3c1;
  overflow: auto;
  background-color: #d8d6e1;
}

.rnd-card {
  border: 1px solid #ccc;
  background: rgb(171, 185, 177);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
